.menu {
    max-width: 600px;
    min-width: 10px;
    width: 800px;
    height: 700px;
    margin-top: 100px;
    position: absolute;
    margin-left: 35%;
    background-color: rgba(253, 244, 222, 0.81);
    border-radius: 17px;
    text-transform: uppercase;
    font-family: "Gilroy Bold";
}

.line-top{
    border:1px solid black;
    margin-top: 18px;
    margin-bottom: 14px;
}

.line-bottom{
    margin-top: 18px;
    border:1px solid black;
}

.menu-heading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 28px;
    font-family: "Gilroy Bold";
    font-weight: bolder;
    font-size: 1rem;
}

.menu-items {
    display: flex;
    justify-content: space-between;
}

.tick{
    margin-left: 2px;
    margin-right: 4px;
    width: 28px;
}

.item-left {
    flex: 2;
    margin-left: 6px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap:19px;
}

.tick{
    width: 15px;
    height: 15px;
    color: white;
}

.item-right {
    flex: 2;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 9px;
    padding-top: 10px;
    gap:19px;
    margin-top:420px;

}

.sub-heading-left,.sub-heading-right{
    font-family: "Gilroy Bold";
    font-size: 1em;
    text-decoration: underline;
}

.item {
    margin-bottom: 2px;
    letter-spacing: 1px;
    margin-top: 5px;
    font-family: "Gilroy Medium";
    font-weight: bold;
    font-size: 1em;
}

.sub-heading-left{
    margin-left: 80px;
}

.sub-heading-right{
    margin-top: -420px;
    margin-left: -100px;
    margin-right: 32px;
}

.itemprice{
    position: absolute;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: -26px;
}


.price-real{
    margin-left: 480px;
    margin-top: 15px;
}

.item-price {
    margin-bottom: 8px;
    letter-spacing: 2px;
    margin-top:430px;
    margin-right: -14px;
    font-family: "Gilroy bold";
    font-weight: bold;
    font-size: 1em;
}

.customize-button{
    /*margin-top: 60px;*/
    /*margin-left: 170px;*/
    margin-left: 20px;
    margin-top: -20px;
}

.line-bottom{
    margin-top: 40px;
}

.close-button {
    width: 3vw;
    height: 3vw;
    background: none;
    box-shadow: none;
    color: #222222;
    border-radius: 9px;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    padding: 7px 3px 0 3px;
    margin-bottom: -20px;
}
.close-button:hover{
    box-shadow: none;
    color: white;
    background-color: rgba(253, 244, 222, 0.81);
}

/* Add the following styles for messages */
.messages-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    background-color: #fd0065;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
